<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-twitter-composer" version="0.0.8">
  <dependency id="cordova-plugin-cocoapod-support" url="https://github.com/snuffy/cordova-plugin-cocoapods-support" />
	<engines>
		<engine name="cordova-android" version=">=7.1.0" />
	</engines>
  <js-module src="www/twitter-composer.js" name='TWComposer' >
    <clobbers target="TWComposer" />
  </js-module>
  <preference name="TwitterConsumerKey" />
  <preference name="TwitterConsumerSecret" />
  <dependency id="cordova-plugin-add-swift-support" version="1.7.2"/>
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="TWComposer">
        <param name="onload" value="true" />
        <param name="ios-package" value="TWComposer" />
      </feature>
    </config-file>

    <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
      <array>
        <string>twitter</string>
        <string>twitterauth</string>
      </array>
    </config-file>

    <config-file target="*-Info.plist" parent="CFBundleURLTypes">
      <array>
        <dict>
          <key>CFBundleURLSchemes</key>
          <array>
            <string>twitterkit-$TWITTERCONSUMERKEY</string>
          </array>
        </dict>
      </array>
    </config-file>
    <source-file src="src/ios/TWComposer.swift" />
    <source-file src="src/ios/TWComposer-Bridging-Header.h" />
    <pods-config use-frameworks="true" />
    <pod id="TwitterKit" version="3.4.0"/>
    <pod id="AlamofireImage" />
  </platform>

  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="TWComposer">
        <param name="android-package" value="jp.snuffy.TWComposer"/>
        <param name="onload" value="true" />
      </feature>
      <preference name="TwitterConsumerKey" value="$TWITTERCONSUMERKEY" />
      <preference name="TwitterConsumerSecret" value="$TWITTERCONSUMERSECRET" />
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.INTERNET" />
    </config-file>

    <framework src="src/android/twitter.gradle" custom="true" type="gradleReference" />
    <source-file src="src/android/TWComposer.java" target-dir="src/jp/snuffy" />
  </platform>
</plugin>